.idea/
bin/
obj/
v17/
FileContentIndex/
DesignTimeBuild/
ProjectEvaluation/
api/.vs/api/config/applicationhost.config
.vscode/settings.json
.vscode/extensions.json
web/.env
web/.env
*.7z
/.vs
api/TradeMarket/logs20240329.txt
